server:
  port: ${SERVER_PORT:8086}

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/bms_user_db
    username: root
    password: Dhami@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true